<footer class="card-footer">
  <div class="copyright">&copy; JLL PropertyHub 2.0</div>
  <div class="social">
    <a href="http://instagram.com" target="_blank" title="Instagram"><img src="../../assets/images/iconfinder_instagram_circle_color_107172.png" alt="instagram"></a>
    <a href="http://facebook.com" target="_blank" title="Facebook"><img src="../../assets/images/iconfinder_facebook_circle_color_107175.png" alt="fb"></a>
    <a href="http://linkedin.com" target="_blank" title="LinkedIn"><img src="../../assets/images/iconfinder_linkedin_circle_color_107178.png" alt="linkedin"></a>
    <a href="http://twitter.com" target="_blank" title="Twitter"><img src="../../assets/images/iconfinder_twitter_circle_color_107170.png" alt="twitter"></a>
  </div>
</footer>
