footer {
  background: rgba(100, 100, 100, 0.158);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

h2 {
  color: #fff;
}

.social {
  float: right;
}

.social a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

img {
  max-height: 30px;
}

.copyright {
  color: rgba(159, 159, 163, 0.76);
  float: left;
  margin: 4px 0 0 0;
}